.slide
{
    width: 360px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: hidden;
    border: 10px sandybrown;
    border-radius: 10px;

}
.slide figure img
{
    width: 20%;
    height: 640px;
    float: left;

}
.slide figure {
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: MyDiary 20s infinite linear;
}
@keyframes MyDiary{
    0%{left: 0%;}
    15%{left: 0%;}
    20%{left: -100%;}
    35%{left: -100%;}
    40%{left: -200%;}
    60%{left: -200%;}
    65%{left: -300%;}
    80%{left: -300%;}
    85%{left: -400%;}
    100%{left: -400%;}

}